
/*--------------------------*/
/*----- CSS RESET -----*/
/*--------------------------*/
* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
 
    box-sizing: border-box;
}

body { font-family:Arial, Helvetica, sans-serif }
.colorbg{
    background-color: rgb(187, 204, 204);
}
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    margin: 1em;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
  .footer-distributed {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
  }
  
  .footer-distributed .footer-left p {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
  }
  /* Footer links */
  
  .footer-distributed p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
  }
  
  .footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
  }
  
  .footer-distributed .footer-links a:before {
    content: "·";
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  .footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
  }
  
  .footer-distributed .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition:all .25s;
  }
  
  .footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}
  
  .footer-distributed p.footer-links a:hover{text-decoration:underline;}
  
  /* Media Queries */
  
  @media (max-width: 600px) {
    .footer-distributed .footer-left, .footer-distributed .footer-right {
      text-align: center;
    }
    .footer-distributed .footer-right {
      float: none;
      margin: 0 auto 20px;
    }
    .footer-distributed .footer-left p.footer-links {
      line-height: 1.8;
    }
  }
    nav { 
        background: #0082e6; 
        height: 80px; 
        width: 100%; 
        display: flex;
        width: 100%;
    }
        label.logo{ 
            color: white; 
            font-size: 35px; 
            line-height: 80px; 
            padding:0 100px; 
            width: 30%;
            border-color: rgb(29, 26, 26);
            border-radius: 50%;
            font-weight: bold; 
        }
        nav ul{ 
            
            margin-right:20px; 
         width: 70%;
            float: right;
          
        }
            nav ul li{ 
                display: inline-block; 
                line-height:80px;
                margin: 0 5px; 
             
            }
                nav ul li a{
                    color: white;
                    font-size: 17px;
                    text-decoration: none;
                
                    padding: 7px 13px;
                    border-radius: 3px;
                }
                    a.active,a:hover{
                     
                        transition: .5s;
                    }
                    
hr { width:40%; height:5px; background: rgb(0, 0, 0); transform: translateX(70%); }
    .flex-container {
        display: flex;
        flex-direction: row;
      }
      
      .flex-left {
        width: 90%;
        float: right;
        height: 40vh;
        margin-top: 2em;
        margin-bottom: 1em;
    
    
        display: flex;
        transform: translateX(10%);
        align-items: center;
        width: 100%;
      height: 100%;
        justify-content: center;
        float: right;
        font-size: 2em;
        text-align: center;
        font-weight: bold;
      }
      
      .flex-right {
        width: 25%;
        height: 25%;
        margin: 1em;
        padding: 5px;
        overflow: visible;
        
      }
      .base{
        width: 80%;
  padding: 10px;
  transform: translateX(20%);
        height: 40vh;
        display: flex;
        width: 37%;
        height: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 1.1em;
 
        overflow: hidden;

      }
      .lefticon{
      
        width: 20%;
        align-items: center;
        float: left;
        transform: translateX(10%);
        border-color: #000000;
        border-radius: 50%;
        margin-left: 1em;
      }

      .secondflex{
        display: flex;
        flex-direction: row;
      }
      .buttontranform{
          transform: translateX(33%);
      }
      .button1{
        display:inline-block;
  
        align-items: center;
        justify-content: center;
        text-align: center;
        padding:0.5em 1.5em;
        border:0.1em solid #000000;
        margin:0 0.3em 0.3em 0;
        border-radius:0.12em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Roboto',sans-serif;
        font-weight:300;
        color:#000000;
        text-align:center;
        transition: all 0.2s;
      }
        .button1:hover{
            color:#000000;
            background-color:#000000;
            color: #FFFFFFFF;
        }
        .featured{
        margin: 1.3em;
            font-size: 2em;
            font-weight: bold;

        }
        
        .card {
            color: white;
            float: left;
            width: calc(25% - 20px);
            padding: 10px;
            border-radius: 10px;
            margin: 10px;
            overflow-y: hidden;
            height: 200px;
            
         }
         .card p {
            font-size: 18px;
         }
         .cardContainer:after {
            content: "";
            display: table;
            clear: both;
           
         }

         .starting{
           display: flex;
           justify-content: space-between;
           padding-top: 1em;
           padding-bottom: .5em;
         }
         .ethermon{
           font-size: 1.7em;
           color: #000000;
           font-weight: bold;
         }
         .twodays{
           background-color: white;
          border:0.1em solid #ffffff;
          margin:0 0.3em 0.3em 0;
          border-radius:1em;
          padding-top: 0.2em;
          box-sizing: border-box;
          font-family:'Roboto',sans-serif;
        font-weight:300;
        color:#000000;
        justify-content: center;
        text-align: center;
        align-items: center;
         }
         .Total{
           padding: 0.2em;
           color: #000000;
         }
         .dollarClass{
           padding: 0.2em;
         }
         .allocatclass{
           display: flex;
           padding: 0.2em;
           justify-content: space-between;
         }
         .Total2{
color: #6be7dd;
         }
         .bottomflex{
           display: flex;
           flex-direction: column;
           align-items: center;
           justify-content: space-between;
           text-align: center;
         }
     

         

         @media screen and (max-width: 600px) {
            .card {
               width: 90%;
               justify-content: center;
               align-items: center;
              }
              .footer-links {
                display: inline;
              }

            
           
          
/*--------------------------*/
/*----- MEDIA QUERRY -----*/
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 1150px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .flex-left {
        font-size: 20px;
    }
    .button1{
        display:flex;
        width: 50%;
        overflow: visible;
        transform: translateX(-15%);
       
  }
@media (max-width: 939px){
    label.logo{
        font-size: 25px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block; 
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 80px;
        left: -100%;
        top: 80px;
        transition: all .5s;
        text-align: center;
        background-color: #2c3e50;
    }
        nav ul li{
            display: block;
            margin: 50px 0;
            line-height: 30px;
        }
            nav ul li a{
                font-size: 20px;
            }
                a:hover,a.active{
                    background: none;
                    color: #0082e6;
                }

        #check:checked ~ ul{
            left: 0;
        }
}